
<div *ngIf="product" class="product-page">
  <div class="product-header">
    <h1 class="product-title">{{ product.name }}</h1>
  </div>

  <!-- Success Message -->
  <div *ngIf="showSuccessMessage" [ngClass]="{'success-message': !isErrorMessage, 'error-message': isErrorMessage}">
    {{ successMessage }}
  </div>

  <div class="product-content">
    <div class="product-image">
      <img [src]="product.imageUrl" [alt]="product.name" />
    </div>

    <div class="product-details">
      <p><strong>Location:</strong> {{ product.location }}</p>
      <p><strong>Category:</strong> {{ product.description }}</p>
      <!-- Button to open the appointment modal -->
      <button nz-button nzType="primary" (click)="openAppointmentModal()">
        Book Appointment
      </button>

    </div>
  </div>

  <div class="map-container">
    <google-map
      *ngIf="center"
      height="400px"
      width="100%"
      [center]="center"
      [zoom]="zoom">
      <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
    </google-map>
  </div>
</div>

<div *ngIf="!loading && !product" class="product-not-found">
  <p>Product not found.</p>
</div>
