<body>
<div class="homepage-container">
  <form>
    <div class="header">
      <h1>Κάντε κράτηση για τοπικές υπηρεσίες ομορφιάς και ευεξίας</h1>
    </div>
    <div class="form-container">
      <div class="input">
        <input type="text" placeholder="Οποιαδήποτε θεραπεία ή χώρος"
               [(ngModel)]="selectedTherapy"
               [ngModelOptions]="{standalone: true}"
               (focus)="onFocusTherapies()"
               (click)="onFocusTherapies()"
        />
        <div class="dropdown" *ngIf="showDropdownTherapies">
          <ul>
            <li *ngFor="let therapy of therapies" (click)="selectTherapy(therapy)">
              {{ therapy.name }}
            </li>
          </ul>
        </div>
        <img src="/assets/images/homepage/search.svg" alt="search icon" />
      </div>
      <div class="input">
        <input
          type="text"
          placeholder="Τοποθεσία"
          [(ngModel)]="selectedLocation"
          [ngModelOptions]="{standalone: true}"
          (focus)="onFocus()"
          (click)="onFocus()"
        />
        <div class="dropdown" *ngIf="showDropdown">
          <ul>
            <li *ngFor="let location of locations" (click)="selectLocation(location)">
              {{ location.name }}
            </li>
          </ul>
        </div>
        <img src="/assets/images/homepage/location.svg" alt="location icon" />
      </div>
      <div class="input">
        <input type="date" placeholder="Ημερομηνία" />
      </div>
      <div class="input">
        <input type="time" placeholder="Ώρα" />
      </div>
      <div class="input search">
        <input type="submit" value="Αναζήτηση" />
      </div>
    </div>
  </form>

  <!-- Product section -->
  <section id="product">
    <div class="product-info">
      <h2 class="product-title">Δημοφιλή</h2>
    </div>
    <div class="container">
      <!-- Dynamically load product cards -->
      <div class="product-card" *ngFor="let product of products" [routerLink]="['/product', product.id]">
        <img [src]="product.imageUrl" [alt]="product.name" class="product-img" />
        <div class="card-info">
          <div class="card-info-content">
            <p>{{ product.name }}</p>
          </div>
          <div class="card-info-content">
            <div>
              <img src="/assets/images/homepage/location.svg" alt="location icon" />
              {{ product.location }}
            </div>
          </div>
          <div class="price">{{ product.description }}</div>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
